<h2><%= @lecture.title %></h2>
<h3><%= link_to @lecture.subject.name, "/subjects/#{@lecture.subject.id}" %></h3>
<p><%= @lecture.content %></p></br>
<h4><b>Tags: </b> 
<% @lecture.tags.each do |tag| %> 
  <%= tag.title %>
<% end %></h4>
<%= link_to 'edit', "/lectures/#{@lecture.id}/edit" %> 
<%= link_to 'delete', "/lectures/#{@lecture.id}", method: :delete %> </br>
<%= link_to 'Back to Lectures', "/lectures" %> </br>

<%= link_to 'Text this lecture to yourself', "/lectures/#{@lecture.id}", method: :post %>