<div ng-app="app">
  <div ng-controller="lectureTagController" ng-init="setup()">
    <h2><%= @lecture.title %></h2>
    <h3><%= link_to @lecture.subject.name, "/subjects/#{@lecture.subject.id}" %></h3>
    <p><%= @lecture.content %></p>

<div class="dropdown dropdown open drop-demo">
    <h4><span ng-click="tagClick()" ng-repeat="tag in tags">  
      &nbsp;<span ng-if="tag.confirmed" class="label label-success">
        {{ tag.title }}
      </span>
    </span><br>
    <ul>
      <li ng-click="tagClick()" ng-repeat="tag in tags">  
        &nbsp;<span ng-if="unconfirmedTagDisplay(tag)" class="label label-danger">
          {{ tag.title }}
        </span>
      </li></h4><br>
    </ul>
</div>

    <%= link_to 'edit', "/lectures/#{@lecture.id}/edit" %> 
    <%= link_to 'delete', "/lectures/#{@lecture.id}", method: :delete %> </br>
    <%= link_to 'Back to Lectures', "/lectures" %> </br>

    <%= link_to 'Text this lecture to yourself', "/lectures/#{@lecture.id}", method: :post %>
  </div>
</div>