<div class="col-md-4">
    <h2><%= link_to "Lectures", "/lectures" %></h2>
    <div class="home-page-slider"> 
        <% @lectures.each do |lecture| %>
            <div class="content-box box-default">
                <a href="/lectures/<%= lecture.id %>"><h3 class="content-box-title"><%= lecture.title %></h3></a>
                    <p><%= lecture.content[0..150] %>...</p>
                </div>
            
        <% end %>
    </div>
</div>
<div class="col-md-4">
    <a href="/subjects"><h2>Subjects</h2></a>
    <div class="home-page-slider"> 
        <% @subjects.each do |subject| %>
            <div class="content-box box-default">
                <h3><%= link_to subject.name, "/subjects/#{subject.id}" %></h3>
                <p><%= subject.description[0..150] %>...</p>
            </div>
        <% end %>
    </div>
</div>
<div class="col-md-4">
    <h2><%= link_to "Discussions", "/discussions" %></h2>
    <div class="home-page-slider"> 
        <% @discussions.each do |discussion| %>
            <div class="content-box box-default">
                <h3><%= link_to discussion.title, "/discussions/#{discussion.id}" %></h3>
                <p><%= discussion.content[0..150] %>...</p>
            </div>
        <% end %>
    </div>
</div>