<!DOCTYPE html> 
<html>
<head>
  <title>Lecturegrab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="sb-site">
<div class="boxed">

<header id="header-full-top" class="hidden-xs header-full-dark">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="/">Lecture<span>grab</span></a></h1>
            <p class="animated fadeInRight">Learning one day at a time</p>
        </div>
        <nav class="top-nav">
            <div class="dropdown animated fadeInDown animation-delay-11">
                <% if user_signed_in? %>
                    <a href="/users/<%= current_user.handle %>/options"><i class="fa fa-user"></i><span style="font-size:18px"> <%= current_user.handle %></span></a>
                <% else %>
                    <a href="/users/sign_in"><i class="fa fa-user"></i><span style="font-size:18px">Login</span></a>
                <% end %>
            </div> <!-- dropdown -->
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                    <li><a href="/users/<%= current_user.handle %>/options"><button class="btn btn-ar btn-primary btn-lg">Grab some Lectures</button></a></li>
                <% end %>
                <li><a href="/subjects"><button class="btn btn-ar btn-primary btn-lg">Browse Subjects</button></a></li>
                <li><a href="/lectures"><button class="btn btn-ar btn-primary btn-lg">Browse Lectures</button></a></li>
            </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>
<div class="container">

    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
      <%= message.html_safe %>  
      </div>
    <% end %>

    <%= yield %>

</div>

<br>
<br>
<br>
<%= link_to "Sign Out", "/users/sign_out", method: :delete %>
</body>

</html>